version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  labels:
  - "category: engineering"
  - dependencies
  versioning-strategy: widen
  ignore:
    # axe-core updates require specific engineering work to accept. See
    # README.md for instructions.
  - dependency-name: axe-core
    versions:
    - ">= 0"
    # Major version of @types/node is pinned to match the version of node we
    # use for builds (ideally, latest LTS)
  - dependency-name: "@types/node"
    versions:
    - ">=15.0.0"
  commit-message:
    prefix: chore
    include: scope
- package-ecosystem: npm
  directory: "/src/test-resources/generator"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  labels:
  - "category: engineering"
  - dependencies
  versioning-strategy: increase
  ignore:
    # axe-core updates require specific engineering work to accept. See
    # README.md for instructions.
  - dependency-name: axe-core
    versions:
    - ">= 0"
  - dependency-name: "@axe-core/puppeteer"
    versions:
    - ">= 0"
    # Major version of @types/node is pinned to match the version of node we
    # use for builds (ideally, latest LTS)
  - dependency-name: "@types/node"
    versions:
    - ">=15.0.0"
  commit-message:
    prefix: chore
    include: scope
