.DS_Store
.github/
.yarn/
.prettierignore
**/*.gitattributes
**/*.gitignore
**/*.ico
**/*.png
**/*.snap
**/*.tgz
dist/
test-results/
test-resources/
LICENSE
yarn.lock
copyright-header.txt
SECURITY.md
